# Assignment-1

### Q1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

#### Answer :

- (i) string

In [3]:
string_var = "Hello"
print("String :", string_var)

String : Hello

- (ii) list

In [4]:
list_var = [1, 2, 3]
print("List :", list_var)

List : [1, 2, 3]

- (iii) float

In [5]:
float_var = 3.14
print("Float :", float_var)

String : 3.14

- (iv) tuple

In [6]:
tuple_var = (4, 5, 6)
print("Tuple :", tuple_var)

Tuple : (4, 5, 6)

### Q2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.

What will be the data type of the above given variable.

#### Answer :

In [8]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

In [9]:
print("Data type of var1:", type(var1))

Data type of var1: <class 'str'>

type of **var1** is *String*

In [10]:
print("Data type of var2:", type(var2))

Data type of var2: <class 'str'>

type of **var2** is *String*

In [11]:
print("Data type of var3:", type(var3))

Data type of var3: <class 'list'>

type of **var3** is *List*

In [12]:
print("Data type of var4:", type(var4))

Data type of var4: <class 'float'>

type of **var4** is *Float*

### Q3. Explain the use of the following operators using an example:
- (i) /
- (ii) %
- (iii) //
(iv) **

#### Answer :

In [13]:
a = 10
b = 3

- (i) /

Division: gives float result

In [14]:
print("a / b =", a / b)

a / b = 3.3333333333333335

- (ii) %

Modulus: gives remainder

In [15]:
print("a % b =", a % b)

a % b = 1

- (iii) //

Floor Division: gives integer part

In [16]:
print("a // b =", a // b)

a // b = 3

- (iv) **

Exponentiation: a raised to the power b

In [17]:
print("a ** b =", a ** b)

a ** b = 1000

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

#### Answer :

In [18]:
my_list = [1, "Python", 3.14, True, [1,2], (3,4), {"key": "value"}, None, {1, 2}, complex(2, 3)]

for item in my_list:
    print(f"Element: {item} --> Type: {type(item)}")

Element: 1 --> Type: <class 'int'>
Element: Python --> Type: <class 'str'>
Element: 3.14 --> Type: <class 'float'>
Element: True --> Type: <class 'bool'>
Element: [1, 2] --> Type: <class 'list'>
Element: (3, 4) --> Type: <class 'tuple'>
Element: {'key': 'value'} --> Type: <class 'dict'>
Element: None --> Type: <class 'NoneType'>
Element: {1, 2} --> Type: <class 'set'>
Element: (2+3j) --> Type: <class 'complex'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

#### Answer :

In [38]:
A = 20
B = 2
count = 0

temp = A
while temp % B == 0:
    temp = temp // B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B}, {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

20 is divisible by 2, 2 times.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

#### Answer :

In [34]:
numbers = list(range(1, 26))

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Answer :

In [35]:
# Mutable: List
mutable_list = [1, 2, 3]
print("Original List:", mutable_list)
mutable_list[0] = 100
print("Modified List:", mutable_list)

# Immutable: Tuple
immutable_tuple = (1, 2, 3)
print("Original Tuple:", immutable_tuple)
try:
    immutable_tuple[0] = 100
except TypeError as e:
    print("Error:", e)

Original List: [1, 2, 3]
Modified List: [100, 2, 3]
Original Tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment

Lists are mutable so the elements inside the List can be changed but Tuples are immutable so the elements inside the Tuple cannot be changed

In [ ]:
Submitted By : Subhajit